.content {
    margin: 20px;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
  }
  
  p, h2 {margin: 0;}
  
  .pagination {
    text-align: center;
    margin-top: 20px;
    & button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid #494a4f;
    border-radius: 1px;
    border: none;
  }
  & button.active {
    background-color: #BC9CFF;
    color: white;
  }
}
  
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }